@font-face {
    font-family: 'flytrapextended';
    src: url('../fonts/flytrap_extended-webfont.woff2') format('woff2'), url('../fonts/flytrap_extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}