/* Global Settings */

body {
    margin: 0px;
    background-color: #F3F3F3;
    font-family: 'flytrapextended';
}

* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Helper Classes */

.left {
    float: left;
}

.right {
    float: right;
}

.clear:after {
    content: "";
    clear: both;
    display: block;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.container {
    width: 1120px;
    margin: 0 auto;
}


/* Generic Sections */

#header {}

#header .header_top {
    position: relative;
}

#header .header_top .quick_links {
    /* background-color: #0059B5; */
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: normal;
    display: block;
    padding: 10px;
    position: relative;
}

#header .header_top:before {
    content: "";
    background-color: #0059B5;
    width: 16%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: -1;
}

#header .header_top .quick_links:after {
    content: "";
    position: absolute;
    right: -21px;
    top: 0px;
    height: 0%;
    border-left: 20px solid #0059B5;
    border-bottom: 37px solid transparent;
}

#header .header_top li {
    display: inline-block;
}

#header .header_top .list_1 li a {
    color: #002e56;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    display: block;
    padding: 10px;
}

#header .header_top .video_links {
    background-color: #0059B5;
}

#header .header_top .video_links a {
    color: #fff;
    display: block;
    padding: 10px;
    font-size: 12px;
}

#header .header_top .social_links {
    padding: 10px;
}

#main-navigation {}

#footer {}


/* Page-1 */


/* Page-2 */