/* Global Settings */

body {
    margin: 0px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Helper Classes */

.left {
    float: left;
}

.right {
    float: right;
}

.clear:after {
    content: "";
    clear: both;
    display: block;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
}


/* Generic Sections */

#header {}

#main-navigation {}

#footer {}


/* Page-1 */


/* Page-2 */